/* HTML Elements */
h1,h2,h3,h4,h5,h6{
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

h1{
    
    font-size: 4vw;
    color: #9BD106;
}

h2{
    font-size: 3vw;
}

h3{
    font-size: 2.4vw;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
}


/* IDs per section */

#header{
    background-color: #263078;
}

#header p{
    color: white;
}

#institution{
    background-color: white;
}

#projects{
    background-color: #00aea9;
}

#stats{
    background-color: #fe713f;
}

#stats p, #stats h3{
    color: white;
}

#collaborators{
    background-color: #263078;
}

#collaborators h3, #collaborators h4{
    color: #FE713F;
}

#collaborators p{
    color: white;
}

#contribute{
    background-color: white;
}

/* Layout Classes */

.s-layout-row{
    min-height: 100vh;
    padding: 6vh 6vw;
}