/* HTML Elements */
h1,h2,h3,h4,h5,h6{
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

h1, h2{
    color: #9BD106;
}

h3, h4, h5, h6{
    color: #4C4C4C;
}

#collaborators h3, #contribute h3{
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: #737373;   
}

/* Media queries */

@media (min-width: 1200px){
    h1{
        font-size: 4.5vw;
    }
    h2{
        font-size: 2.8vw;
    }
    .s-layout-row h3{
        font-size: 2.6vw;
        margin-bottom: 2.6vw;
    }

    .s-layout-row h4{
        font-size: 1.8vw;
        margin-bottom: 1.2vw;
    }

    .s-layout-row p{
        font-size: 1.5vw;
        margin-bottom: 2.2vw;
    }

    .s-layout-row{
        padding-right: 6vw;
        padding-left: 6vw;
    }

    .s-form-section{
        margin-bottom: 1.2vw;
    }

    .s-navbar-on-header{
        width: 88vw;
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .card p {
        font-size: 1vw;
    }

    .s-card{
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .s-link-section{
        font-size: 1.5vw;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .s-form-section{
        font-size: 1.5vw;
        padding: 12px 1.8vw;
    }

    .s-select-section{
        font-size: 1.5vw;
        padding: 12px 1.8vw;
        height: auto;
    }

    .s-layout-item-icon{
        height: 16vw;
        width: 16vw;
        padding: 4vw;
    }
}


/* IDs per section */

#header{
    background-color: #263078;
    position: relative;
    z-index: -1;
}

#header p{
    color: white;
}

#header img{
    position: fixed;
}

#institution{
    background-color: white;
}

#projects{
    background-color: #00aea9;
}

#projects p, #projects h3{
    color: white;
}

#projects h4{
    font-weight: 600;
    color: white;
}

#stats{
    background-color: #fe713f;
}

#stats p, #stats h3, #stats h4{
    color: white;
}

#collaborators{
    background-color: #263078;
}

#collaborators h3, #collaborators h4{
    color: #FE713F;
}

#collaborators p{
    color: white;
}

#contribute{
    background-color: white;
}

/* Layout Classes */

.s-layout-row{
    min-height: 100vh;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

/* Navbar */

.s-navbar-on-header{
    position: absolute;
    border-bottom: 2px solid #9BD106;
}

.s-navbar-on-header a{
    color: white;
    transition: linear .15s;
}

.s-navbar-on-header a:hover{
    color: #9BD106;
    transition: linear .15s;
}

/* Links */

.s-link-section{
    background-color: #FE713F;
    color: white;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    display: block;
    width: 100%;
    border-radius: 30px;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
    transition: linear .1s;
}

.s-link-section:hover{
    background-color:#ff8356;
    text-decoration: none;
    color: white;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.4);
    transition: linear .1s;
}

/* Form */

.s-form-section{
    background-color: white;
    border-radius: 30px;
    border: none;
}

.s-select-section{
    background-color: white;
    border-radius: 30px;
    border: none;
}



/* Cards */

.s-card{
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3)
}

#stats .s-card{
    background-color: #FFECE5;
}

/* Items */

.s-layout-item{
    align-items: center;
    text-align: center;
}

.s-layout-item-icon{
    display: flex;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid black;
}

.s-layout-item-icon img{
    height: 100%;
}

/* COVID on header styling */

@keyframes rotation {
    from {
    transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@keyframes fade-in-covid{
    from {
        opacity: 0;
        }
        to {
        opacity: 1;
        }
}

@media (min-width: 1200px){
    #covid-1{
        height: 9vw;
        top: 40vh;
        right: 6vw;
    }
    #covid-2{
        height: 20vw;
        top: 20vh;
        right: 24vw;
    }
    #covid-3{
        height: 5vw;
        top: 15vh;
        right: 15vw;
    }
    #covid-4{
        height: 10vw;
        top: 70vh;
        right: 20vw;
    }
    #covid-5{
        height: 6vw;
        top: 60vh;
        right: 40vw;
    }
}

#covid-1{
    animation: fade-in-covid .7s ,rotation 12s infinite linear;
}

#covid-2{
    animation: fade-in-covid .7s ,rotation 20s infinite linear;
}

#covid-3{
    animation: fade-in-covid .7s ,rotation 8s infinite linear;
}

#covid-4{
    animation: fade-in-covid .7s ,rotation 10s infinite linear;
}
#covid-5{
    animation: fade-in-covid .7s ,rotation 9s infinite linear;
}

/* Carousel */